<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="Bind9Config.Manager.UI.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <Link Href="_content/BootstrapBlazor.FontAwesome/css/font-awesome.min.css" />
    <link href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" rel="stylesheet">

    <title>Bind9管理</title>

    <HeadOutlet />
</head>

<body>
    <Routes />

    <script src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
